<button 
  class="home-button editbtn btn px-4 d-sm-flex align-items-center justify-content-center text-center"
  routerLink="/">
    <i class="fas fa-home me-2"></i>
    Back to Home
</button>


<div class="upload-container" [class.has-file]="selectedFile">
  <div class="file-drop-zone"
       [class.uploading]="uploading"
       [class.paused]="isPaused">
    
    <app-upload-dropzone
      [hasFile]="!!selectedFile"
      (fileSelected)="handleFileSelection($event)"
      (error)="errorMessage = $event">
    </app-upload-dropzone>

    <app-upload-progress
      *ngIf="selectedFile && uploadState"
      [uploadState]="uploadState"
      [progress]="progress"
      [uploading]="uploading"
      [isPaused]="isPaused"
      (start)="uploadFile(selectedFile)"
      (pause)="pauseUpload()"
      (resume)="resumeUpload()"
      (abort)="abortUpload()">
    </app-upload-progress>

    <app-error-message
      [message]="errorMessage"
      (dismiss)="errorMessage = null">
    </app-error-message>
  </div>
</div>
